.resource-card {
  .collapsed,
  .expanded {
    border-radius: 4px;
    background-color: white;
    display: block;
    padding: 8px 8px 8px 8px;
    margin: 0px;
    margin-bottom: 5px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
  }

  .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }

  .card-wrap {
    outline: none !important;
  }

  .expanded .card-wrap {
    cursor: auto;
  }

  .collapsed {
    cursor: pointer !important;
  }

  .expanded {
    cursor: auto !important;
  }

  .card-title {
    font-weight: bold;
    color: #2a2a2a;
    font-size: 15px;
    margin: 0;
    width: 92%;
    float: left;
    margin-right: 2%;
    outline: none;
  }

  .card-maximize,
  .top-card-close {
    float: left;
    width: 6%;
    transition: all 0.2s;
    cursor: pointer;
    outline: none !important;
    opacity: 0.3;
  }

  .collapsed .card-maximize {
    display: block;
  }

  .collapsed .top-card-close {
    display: none;
  }

  .expanded .card-maximize {
    display: none;
  }

  .expanded .top-card-close {
    display: block;
  }

  .card-maximize .maximize-icon,
  .top-card-close .top-close-icon {
    height: 14px;
    width: auto;
    margin: 0;
    position: relative;
    top: -2px;
  }

  .card-maximize:hover,
  .card-maximize:focus,
  .top-card-close:hover,
  .top-card-close:focus {
    opacity: 0.5;
  }

  .card-distance {
    opacity: 0.6;
    font-size: 12px;
    margin: 0;
  }

  .card-desc {
    font-size: 13.5px;
    line-height: 125%;
    opacity: 0.7;
    margin-top: 4px;
    margin-bottom: 15px;
  }

  .collapsed .card-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
  }

  .collapsed .card-details {
    display: none;
  }

  .card-details {
    margin-left: 10px;
  }

  .detail-section {
    margin-bottom: 15px;
  }

  .detail-title {
    color: #2a2a2a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
    margin-bottom: 1px;
  }

  .detail-content {
    color: #2a2a2a;
    margin: 0;
    opacity: 0.7;
    font-size: 13.5px;
  }

  a.detail-content {
    color: #f79230;
    transition: all 0.2s;
    margin: 0;
  }

  a.detail-content:hover {
    color: #f9ac61;
  }

  .card-tags {
    margin-top: 10px;
  }

  .card-tag {
    display: inline-block;
    color: #f79230;
    font-size: 10px;
    border: solid #f79230 1px;
    margin-right: 3px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1px 7px 1px 7px;
    border-radius: 15px;
  }

  .card-tag:hover {
    background-color: #f7923030;
  }

  .card-close {
    margin-top: 16px;
    border: none;
    outline: none;
    background-color: #f79230;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 8px 6px 8px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 0px;
    width: 100%;
    transition: all 0.2s;
  }

  .card-close:hover {
    background-color: #f9ac61;
  }

  .collapsed {
    .card-close {
      display: none;
    }
    .card-action {
      display: none;
    }
  }

  .expanded-button-icon {
    height: 12px;
    margin-left: 3px;
    margin-top: -3px;
  }
}
