.searchBar {
    width: 100%;
}

.FixedHeightContainer {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 300px;
    height: 600px;
    z-index: 1;
}

.cardContent {
    overflow: auto;
    height: 100%;
    width: 100%;
}
