.FixedHeightContainer {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 300px;
    height: 600px;
    z-index: 1;
    overflow: hidden;
}

.cardContent {
    overflow: auto;
    height: 100%;
    width: 100%;
}