.search {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 0px 20px 12px;
  width: auto;
}

.locationIcon, .searchIcon {
  width: 16px;
  margin-top: 4px;
}

.locationInput, .searchInput {
  display: inline;
  width: 250px;
  height: auto;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  margin-left: 4px;
  color: #2a2a2a;
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  padding-bottom: 4px;
  outline: none;
  transition: all 0.2s;
  background-color: transparent;
  &:focus {
    border-color: orange;
  }
}

.locationInput {
  margin-bottom: 10px;
}

.searchInput {
  margin-right: 8px;
}

.submitSearch {
  border: none;
  outline: none;
  background-color: #F79230;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 8px 6px 8px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 0px;
  width: 42px;
}

.dropdownStyle {
  z-index: 2;
  position: absolute;
  background-color: white;
  width: 100%;
}
