.search {
  margin-top: 60px;
  background-color: white;
  border: solid rgb(201, 194, 194) 0.5px;
  border-radius: 4px;
}

.locationIcon {
  width: 5%;
  margin-left: 5px;
}

.searchIcon {
  width: 5%;
  margin-left: 5px;
}

.locationInput {
  width: 70%;
  height: 80%;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(201, 194, 194);
  margin-left: 5px;
  margin-top: 5px;
  &:focus {
    border-color: orange;
  }
}

.searchInput {
  width: 70%;
  height: 80%;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(201, 194, 194);
  margin-left: 5px;
  margin-top: 1px;
  &:focus {
    border-color: orange;
  }
}

.submitSearch {
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgb(255, 153, 51);
  color: white;
  width: 15%;
}

.dropdownStyle {
  z-index: 2;
  position: absolute;
  background-color: white;
  width: 100%;
}