.user-directory {
  width: 100%;
  height: 100vh;
  padding: 20px 40px 20px 40px;
  font-family: "Roboto";

  #page-title {
    margin-bottom: 0;
  }
  .users {
    background-color: #f9f9f9;
    margin-top: 8px;
    margin-bottom: 40px;
    padding: 10px 12px;
    border-radius: 6px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
  }

  h3 {
    font-size: 13px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  .user-labels {
    padding-bottom: 10px;
  }

  .card-click {
    outline: none;
    position: relative;
    top: 0px;
    transition: all 0.2s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
  }

  .card-click:hover {
    top: -2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  #edit-icon {
    height: 25px;
    min-height: 25px;
    // Give width & height so space is reserved before loading
    // (fixes CellMeasurer race condition if images aren't loaded before measuring cell size)
    width: 25px;
    padding-right: 5px;
    margin-top: -2px;
  }
  .edit-button {
    background-color: transparent;
    transition: all 0.2s;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    outline: none !important;
  }
  .edit-button:focus,
  .edit-button:hover {
    background-color: #f6f6f6;
  }

  .card-wrapper {
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    margin-bottom: 8px;

    p {
      margin: 0;
    }
  }
  .col p {
    opacity: 0.8;
  }

  .card-wrapper .col-desc {
    width: 35%;
  }

  .btn-custom {
    background-color: #f7922f;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 11px 32px 11px 32px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
    border-radius: 4px;
  }
  .btn-custom:hover {
    background-color: #f9ac61;
    color: white;
    transition: all 0.5s;
  }

  .btn-custom:focus {
    background-color: #f9ac61;
    box-shadow: 0 0 0 0.2rem rgba(249, 172, 97, 0.25);
  }
  .col-desc-collapsed {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .manager-header {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
