.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;

    #lah-logo {
        height: 10vmin;
    }
    #google-logo {
        height: 18vmin;
        padding-top: 20px;
    }
    #sign-in {
        height: 10vmin;
        padding-top: 15px;
    }
    
    p {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
    }
}