.lah_navbar {
  background-color: white;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  font-family: "Roboto";
  font-size: 0.9em;

  #logo {
    height: 30px;
    @media (max-width: 768px) {
      height: 20px;
    }
  }
}

.hover-orange {
  transition: all 0.2s;
  &:hover {
    color: #f79537 !important;
    transition: all 0.2s;
  }
}

#user-icon {
  height: 33px;
  padding-right: 3px;
  border-radius: 50%;
}

#signout-button {
  border: none;
  background-color: #f79230;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
  &:hover {
    background-color: #f9ac61;
  }
}

div.navbar-dropdown {
  width: 50px;
  margin-left: 12px;

  #dropdown-button {
    outline: none;
    background-color: transparent;
    background-color: none;
    box-shadow: none;
  }

  .caret {
    color: #8b8b8b;
  }
  .dropdown-menu {
    border: none;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);
    transform: translate3d(-100px, 45px, 0px) !important;
    outline: none;
    border-radius: 3px;
    text-align: right;
    width: auto;
    min-width: auto;
    padding: 8px 8px 6px 8px;
    width: 160px;
    max-width: 200px;
  }
  .dropdown-header {
    outline: none;
    padding: 0;
    margin: 0;
    width: auto;
  }

  .dropdown-menu p {
    color: #2a2a2a;
    text-align: left;
    margin: 0;
    margin-bottom: 12px;
    margin-top: 4px;
    font-size: 14px;
  }
}

.spacing {
  flex-grow: 1;
}
