.add-edit-resource-form {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.modal-input-field,
.modal-select-field,
.modal-lab {
  display: block;
  width: 100%;
  outline: none;
}
.modal-input-textarea {
  resize: vertical;
  min-height: 170px;
  padding: 5px 12px 5px 12px !important;
}
.modal-lab {
  margin-top: 20px;
}

.modal-lab p {
  font-size: 12px;
  margin: 0;
  margin-left: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.modal-input-field {
  border: solid #f6f6f6 1.5px;
  background-color: rgb(243, 243, 243);
  border-radius: 3px;
  padding: 5px 12px 5px 12px;
  font-weight: 400 !important;
  transition: all 0.3s;
  font-size: 15px;
}

.modal-input-field.invalid {
  transition: all 0.3s;
  border: 1.5px solid rgb(255, 190, 190);
}
.modal-input-field.invalid:focus {
  border: solid red 1.5px;
}

.modal-input-field:focus {
  border: solid #f7922f 1.5px;
}

.modal-input-field:disabled {
  color: #2a2a2a;
}

.modal-backdrop {
  opacity: 0.7;
}

.modal {
  padding-top: 50px;
}

#delete-form-button {
  background-color: #f7462f;
  color: white;
  width: 90px !important;
  margin-left: 30px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 12px 0 12px 0;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: #b31313;
  }
}

.modal-title {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
}

.close-button {
  outline: none !important;
  transition: all 0.2s;
  border-radius: 4px !important;
}

.close-button:hover {
  background-color: #f9f9f9 !important;
}

#close-image {
  height: 20px;
}

#submit-form-button {
  background-color: #f7922f;
  color: white;
  width: 90px !important;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 12px 0 12px 0;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: #f9ac61;
  }
}
