.add-edit-resource-form {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

input, label {
    display: block;
    width: 100%;
}
label {
    margin-top: 20px;
}

.modal-backdrop {
    opacity: 0.8;
}

.modal {
    padding-top: 60px;
}

.modal-footer {
    margin-top: 20px;
}