.radius-filter {
  background: #fff;
  bottom: 30px;
  right: 12px;
  padding: 24px 24px 24px 24px;
  border-radius: 5px;
  position: absolute;
  width: 220px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-range__label-container {
  font-size: 1.1em;
}

.radius-filter-hidden {
  display: none;
}

.input-range__track--active {
  background: #f79230;
}

.input-range__slider {
  background: #f79230;
  border: 1px solid #f79230;
}

.input-range__label {
  color: #2a2a2a;
  font-size: 1rem;
}
